
.rarity_img {
    height: 25px;
}

.table td {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.compact-table {
    margin: 0px;
}

.compact-table td, .compact-table th {
    font-size: 80%;
    text-align: left;
}

.compact-table tr:first-child>td {
    border: none;
}

.main-form {
    margin-bottom: 15px;
}

.filter-bonus-table-tr {
    height: 39px;
}

.filter-bonus-table>tbody>tr>td {
    vertical-align: top;
}

.filter-bonus-table table th {
    border-top: none;
}

.main-label {
    font-weight: bold;
}

.main-label>* {
    font-weight: normal;
}

.table-types {
    text-align: center;
    vertical-align: middle;
}

.table-types label {
    margin: 0px;
}

.label-large {
    width: 100%;
}

.filter-bonus-table table {
    width: 0px;
}

.type-sub-table td:first-child {
    text-align: right;
}
.type-sub-table td:last-child {
    text-align: left;
}

.type-sub-table td {
    padding-left: 2px;
    padding-right: 2px;
}

.type-sub-table {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.filter-bonus-table {
    margin-bottom: 0px;
}

.filter-summary-container {
    margin-bottom: 15px;
    font-weight: bold;
}

.filter-summary-container span {
    font-weight: normal;
}
